img{
	width: 25%;
	border-radius: 20px;
	margin: 20px;
	border: 1px solid black;
}

.container{
	width: 1070px;
	margin: 0 auto;
}

.two{
	margin-top: 0px;
}

figcaption{
	font-family: bahnschrift;
	margin-left: 30px;
	color: #616161;

	
}

.image{
	background: #f2f2f2;
	border-radius: 20px ;
	text-align: center;
}

